/*google font */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* astesisk wildcard selector to override default styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles*/
body {

    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background-color: white;

}

.navbar {
    background-color: rgb(51, 129, 51);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
}
ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    display: flex;
  justify-content: center;

}

.active {
    border-bottom: 1px solid #f5eeee;
}

li {
    font-size: 22px;
    color: white; 
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
  justify-content: center;
    padding: 8px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
.title-section{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1Btvff3rL3WJ-CUWSeg9ZU3RianXhEy-d2Q&s");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.title-container {
    background-color:antiquewhite;
    padding: 3em;
    display: flex;
    gap: 1em;
   flex-direction: column;
   align-items: flex-start;
}
.title {
    font-size: 3em;
}
.description {
    font-size: 2em;
}

.reservation-btn {

    background-color: rgb(51, 129, 51);
 font-size: 1.5em;
 border: 1px solid rgb(51, 129, 51);
 padding: 0.75em 1em 0.75em 1.5em ;
 border-radius: 1.5em;
 color: white;

}

#contact {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    gap: 2em;
}
.contact-boxes-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2em;
    flex-direction: column;
}


/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #e67e22;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-bottom: 10px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;

  }
  .menu-item {
    display : flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
  
  }
footer {
    display: flex;
    justify-content: space-between;
    background-color: rgb(51, 129, 51);
    padding: 1em;
    align-items: center;
    color: white;
}

/* for desktob and tab*/
@media only screen and (min-width: 768px) {
.title {
    font-size: 6rem;
    
}
    .title-container {
        padding: 6em;
    }
    .description {
        font-size: 3em;
    }
    .contact-boxes-container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 2em;
        flex-direction: row;
    }
    }
